.login {
    width: 500px;
    margin: 100px auto;
    /* margin을 주기 위해서는 우선 여백이 필요하다. 그래서 width를 통해 크기를 조정해야 한다. */

    padding: 50px;

    border: 1px solid lightgray;
    border-radius: 20px;
}

.login-title {
    width: 400px;
    height: 300px;

    text-align: center;
    /* text-align을 통해 div안의 text들을 가운데 정렬할 수 있다.*/

    color: white;

    background-image: url("https://www.ancient-origins.net/sites/default/files/field/image/Agesilaus-II-cover.jpg");
    background-size: cover;
    background-position: center;
    /* background 설정을 위해서는 상기 3가지 작업이 동시에 이루어지면 좋다.*/

    border-radius: 10px;

    padding-top: 100px;

    margin: auto;
}

.login-main {
    width: 350px;
    margin : 20px auto;
}

.login-btn {
    display: block;
    margin: auto;
    width: 350px;
}